---
---



<div id="animate" class="animate flex items-center justify-center swim">
    <div id="centerContent" class='relative w-full h-full flex items-center justify-center'>
        <div id="contentWrapper" class='p-5 text-center'>
            <p id="title" class='animated text-6xl md:text-7xl lg:text-9xl  uppercase text-white font-stop'>
                SEZAM
            </p>
            <div id="typewriter-text" class="typewriter-container text-white ">
                <p class="animated text-sm md:text-base lg:text-lg opacity-75">Twój sklep RTV AGD</p>
            </div>

        </div>
    </div>
</div>

<!--<script is:inline data-astro-rerun async src="/js/headeranimation.js"/>-->
<!--<script is:inline data-astro-rerun async src="/js/typewriter.js"/>-->
